<div class="gap-4 grid grid-cols-2 place-self-center">
	<a class="flex-1 hover:text-blue-500 underline whitespace-nowrap text-end" href="/legado">Bootstrap + jQuery</a>
	<a class="flex-1 hover:text-blue-500 underline" href="/cangaco">Cangaço</a>
</div>


