@section estilos {
	<link rel="stylesheet" href="/cangaco.css" asp-append-version="true"/>
}

@section scripts {
	<script src="/cangaco.js" asp-append-version="true" defer="defer"></script>
}

<div class="place-self-center space-y-6">
	<div data-a-fazeres-bb></div>
</div>
