<div class="place-self-center space-y-6">
	<h1 class="text-4xl">A fazeres</h1>

	<form class="rounded-lg py-4">
		<label class="text-lg">
			Tarefa
			<input class="mx-3 rounded-full border-2 px-3" type="text" name="tarefa">
		</label>
		<button
			class="bg-sky-700 text-white border-[1px] border-slate-800/20 rounded-lg shadow-slate-800/10 shadow font-semibold py-1 px-4 text-base"
			type="submit">Criar</button>
	</form>

	<ul class="text-base list-decimal">
		<li class="flex justify-between items-center even:bg-slate-100">
			Tarefa 1
			<form>
				<input type="hidden" name="tarefa" value="1">
				<button class="text-sm" type="submit">Marcar como feita</button>
			</form>
		</li>

		<li class="flex justify-between items-center even:bg-slate-100">
			Tarefa 2
			<form>
				<input type="hidden" name="tarefa" value="2">
				<button class="text-sm" type="submit">Marcar como feita</button>
			</form>
		</li>
	</ul>
</div>
