@section scripts {
	<script src="/legado.js" asp-append-version="true" defer="defer"></script>
}

<div class="space-y-6 p-6">
	<h1 class="text-4xl">A fazeres</h1>

	<form id="adicionar" class="py-4">
		<label class="text-lg">
			Tarefa
			<input class="mx-3 rounded-full border-2 px-3" type="text" name="tarefa">
		</label>
		<button
			class="bg-sky-700 text-white border-[1px] border-slate-800/20 rounded-lg shadow-slate-800/10 shadow font-semibold py-1 px-4 text-base"
			type="submit">Criar</button>
	</form>

	<ul class="text-base"></ul>
</div>
